<!-- Sale & Revenue Start -->
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-sm-6 col-xl-3">
      <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-chart-line fa-3x text-primary"></i>
        <div class="ms-3">
          <p class="mb-2">Today's Orders </p>
          <h6 class="mb-0">{{todaysOrders}}</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-chart-bar fa-3x text-primary"></i>
        <div class="ms-3">
          <p class="mb-2">Today's Sale</p>
          <h6 class="mb-0">{{todaysTotalSale}}</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-chart-area fa-3x text-primary"></i>
        <div class="ms-3">
          <p class="mb-2">Total Orders</p>
          <h6 class="mb-0">{{totalOrders}}</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-chart-pie fa-3x text-primary"></i>
        <div class="ms-3">
          <p class="mb-2">Total Sales</p>
          <h6 class="mb-0">{{totalSales}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Sale & Revenue End -->

<!-- Chart Start -->
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-sm-12 col-xl-6">
      <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Single Line Chart</h6>
        <canvas id="sale-order-line-chart"></canvas>
      </div>
    </div>

    <div class="col-sm-12 col-xl-6">
      <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Single Bar Chart</h6>
        <canvas id="bar-chart"></canvas>
      </div>
    </div>

  </div>
</div>
<!-- Chart End -->


<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
  <div class="bg-light text-center rounded p-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
      <h6 class="mb-0">Sales Report</h6>
    </div>
    <form action="/admin/sales-report" method="POST" class="mb-4" id="sales-form">
      <div class="row g-2">
        <div class="col-md-4">
          <label for="startDate" class="form-label">Start Date</label>
          <input type="date" class="form-control" id="startDate" name="startDate" required>
        </div>
        <div class="col-md-4">
          <label for="endDate" class="form-label">End Date</label>
          <input type="date" class="form-control" id="endDate" name="endDate" required>
        </div>
        <div class="col-md-4">
          <button type="button" id="filter-sales-report" class="btn btn-primary">filter</button>
          <button type="submit" id="dwnld-sales-report" class="btn btn-primary">Download</button>
        </div>
      </div>
    </form>
    <!-- Render the sales data table here based on the response from the POST request -->
    {{#if orders}}
    <div class="table-responsive" id="pritable_div">
      <table class="table text-start align-middle table-bordered table-hover mb-0" id="sales-table">
        <thead>
          <tr class="text-dark">
            <th scope="col">Sl No.</th>
            <th scope="col">Date</th>
            <th scope="col">Customer</th>
            <th scope="col">Amount</th>
            <th scope="col">Payment Method</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {{#each orders}}
          <tr>
            <th scope="row">{{incrementIndex @index}}</td>
            <th scope="row">{{this.date}}</td>
            <td>{{this.username}}</td>
            <td>{{this.totalAmount}}</td>
            <td>{{this.payment}}</td>
            <td>{{this.status}}</td>
            <td><a href="/admin/view-order-products/{{this.orderId}}" class="btn btn-primary m-2">View Details</button></a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    {{else}}
    <p>No orders available for the selected date range.</p>
    {{/if}}
  </div>
</div>
<!-- Recent Sales End -->


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
  $(document).ready(function () {
    var orderLineChartData = {
      labels: [{{#each orderLineChartData.labels}}"{{this}}",{{/each}}],
      data: [{{#each orderLineChartData.data}} {{this}},{{/each}}]
      };

      var ctx3 = document.getElementById("sale-order-line-chart").getContext("2d");
      var myChart3 = new Chart(ctx3, {
        type: "line",
        data: {
          labels: orderLineChartData.labels,
          datasets: [
            {
              label: "Orders",
              fill: true,
              backgroundColor: "rgba(0, 156, 255, .3)",
              data: orderLineChartData.data
            }
          ]
        },
        options: {
          responsive: true,
          scales: {
            y: {
              ticks: {
                precision: 0 // Display only integers on the y-axis
              }
            }
          }
        }
      });

      var orderBarChartData = {
        labels: [{{#each orderBarChartData.labels}}"{{this}}",{{/each}}],
        data: [{{#each orderBarChartData.data}} {{this}},{{/each}}]
        };

        var ctx4 = document.getElementById("bar-chart").getContext("2d");
        var myChart4 = new Chart(ctx4, {
          type: "bar",
          data: {
            labels: orderBarChartData.labels,
            datasets: [
              {
                label: "Order Status",
                backgroundColor: [
                  "rgba(0, 156, 255, .7)",
                  "rgba(0, 156, 255, .6)",
                  "rgba(0, 156, 255, .5)",
                  "rgba(0, 156, 255, .4)",
                  "rgba(0, 156, 255, .3)"
                ],
                data: orderBarChartData.data
              }
            ]
          },
          options: {
            responsive: true,
            scales: {
              y: {
                ticks: {
                  precision: 0 // Display only integers on the y-axis
                }
              }
            }
          }
        });
      });
</script>
<script>
  $(document).ready(function () {
    $('#filter-sales-report').click(function () {
      var startDate = $('#startDate').val();
      var endDate = $('#endDate').val();

      $.ajax({
        url: '/admin/get-orderData-ajax',
        method: 'POST',
        data: {
          startDate: startDate,
          endDate: endDate
        },

        success: function (response) {
          console.log("response",response)
          // Clear existing table rows
          $('#sales-table tbody').empty();

          if (response.orderData.length > 0) {
            // Iterate through the response data and add rows to the table
            response.orderData.forEach(function (order, index) {
              var row = `<tr>
              <th scope="row">${index + 1}</th>
              <td>${order.date}</td>
              <td>${order.username}</td>
              <td>${order.totalAmount}</td>
              <td>${order.payment}</td>
              <td>${order.status}</td>
              <td><a href="/admin/view-order-products/${order.orderId}" class="btn btn-primary m-2">View Details</a></td>
            </tr>`;
              $('#sales-table tbody').append(row);
            });
          } else {
            // Display a message if no orders are available for the selected date range
            $('#sales-table tbody').html('<tr><td colspan="7">                o orders available for the selected date range.</td></tr>');
          }
        }
      });
    });
  });

</script>