{{!-- BOF breadcrumb --}}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-4">
    <li class="breadcrumb-item"><a href="/admin">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Users</li>
  </ol>
</nav>
<hr>

{{!-- BOF breadcrumb --}}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                {{! <div class="d-flex align-items-center justify-content-between mb-4"> }}
                    <h6 class="mb-0">users</h6>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">User Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone No.</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                                {{#each users}}
                                <tr>
                                    <th scope="row">{{@index}}</th>
                                    <td>{{this.username}}</td>
                                    <td>{{this.email}}</td>
                                    <td>{{this.phone}}</td>
                                    <td>
                                        {{#if this.status}}
                                        <a href="/admin/user/unblock/{{this._id}}" class="btn btn-success">Unblock</a>
                                        {{else}}
                                        
                                        <a href="/admin/user/block/{{this._id}}" class="btn btn-danger">Block</a>
                                        {{/if}}
                                    </td>
                                </tr>

                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>