<!-- Checkout Start -->
{{!-- <form action="/checkout" method="POST" id="checkout-form"> --}}
    <form id="checkout-form">
        <div class="container-fluid ">
            <div class="row px-xl-5">
                <div class="col-lg-8 border">
                    <div class="mb-4 ">
                        <div class="card-header bg-secondary border-2">
                            <h5 class="font-weight-light m-2">Choose your shipping address</h5>
                            <div class="add-new-button">
                                <a href="/address/add">
                                    <button type="button" class="btn btn-primary m-2">Add New</button>
                                </a>
                            </div>
                            <select name="address_select" id="address_select" style="width: 100%; padding: 5px;">
                                <option>Select your address  </option>
                                {{#each addresses}}
                                <option value="{{this._id}}">{{this.address.[1]}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-6 form-group">
                                <label>Name</label>
                                <input class="form-control" type="text" placeholder="John" name="firstName" id="firstName" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Mobile No</label>
                                <input class="form-control" type="number" placeholder="+123 456 789" name="mobileNumber" id="mobileNumber" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Address </label>
                                <input class="form-control" type="text" placeholder="123 Street" name="address" id="address" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>City</label>
                                <input class="form-control" type="text" placeholder="New York" name="city" id="city" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>State</label>
                                <input class="form-control" type="text" placeholder="New York" name="state" id="state" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>PIN Code</label>
                                <input class="form-control" type="number" placeholder="123" name="pinCode" id="pinCode" required>
                                <input class="form-control" type="text" placeholder="user" name="userId" id="" value="{{user._id}}" hidden>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-lg-4">
                    <span class="mb-5">
                        <div class="input-group">
                            <input id="couponCodeInput" type="text" class="form-control p-4" placeholder="Coupon Code">
                            <div class="input-group-append">
                                <button onclick="applyCoupon()" class="btn btn-primary">Apply Coupon</button>
                            </div>

                        </div>
                        <div class="error" id="coupen_msg_div"></div>
                    </span>

                    <div class="card border-secondary mb-5 mt-5">

                        <div class="card-header bg-secondary border-0">
                            <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                        </div>

                        <div class="card-footer border-secondary bg-transparent">
                            <div class="d-flex justify-content-between mt-2" id="total">
                                <h5 class="font-weight-medium">Total</h5>
                                <h5 class="font-weight-medium">Rs.{{total}}</h5>
                            </div>
                            <div class="d-flex justify-content-between mt-2">
                                <input id="coupon_discount_input" name="coupon_discount_input" type="hidden" value="0">
                                <h5 class="font-weight-light">Coupon Discount</h5>
                                <h5 class="font-weight-light"> Rs. <span id="coupon_discount">0</span></h5>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between mt-2">
                                <input id="amount_payable_input" name="amount_payable_input" type="hidden" value="{{total}}">
                                <h5 class="font-weight-bold">Amount Payable</h5>
                                <h5 class="font-weight-bold">Rs.<span id="amount_payable"> {{total}} </span></h5>
                            </div>
                        </div>
                    </div>
                    <div class="card border-secondary mb-5">
                        <div class="card-header bg-secondary border-0">
                            <h4 class="font-weight-semi-bold m-0">Payment</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="payment" value="COD" id="COD" required>
                                    <label class="custom-control-label" for="COD">COD</label>
                                </div>
                            </div>
                            {{!-- <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="payment" value="online" id="online" required>
                                    <label class="custom-control-label" for="Online payment">Online Payment</label>
                                </div>
                            </div> --}}
                            <div class="">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="payment" value="razorpay" id="razorpay" required>
                                    <label class="custom-control-label" for="razorpay">Razorpay</label>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Checkout End -->


    <script>
        console.log("ajax calling---------->")
        $("#checkout-form").submit((e) => {
            e.preventDefault();
            $.ajax({
                url: '/checkout',
                method: 'post',
                data: $('#checkout-form').serialize(),
                success: (response) => {
                    console.log(response);
                    Swal.fire({
                        title: 'Order Placed',
                        text: 'Your order placed successfully.',
                        icon: 'success',
                        confirmButtonText: 'OK',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            if (response.codSuccess) {
                                location.href = '/view-order-products/' + response.orderId;
                            } else {
                                razorpayPayment(response);
                            }
                        }
                    });
                }
            });
        });

        function razorpayPayment(order) {
            var options = {
                "key": "rzp_test_KKEibDc3VJc3iI", // Enter the Key ID generated from the Dashboard
                //"amount": 1000,
                "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "yellOw", //your business name
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response) {
                    //   alert(response.razorpay_payment_id);
                    //   alert(response.razorpay_order_id);
                    //   alert(response.razorpay_signature);
                    console.log("response razorpayPayment", response)

                    if (response.razorpay_payment_id != '') {
                        location.href = '/view-order-products/' + order.receipt;

                    }


                    //location.href = '/view-order-products/' + order.receipt;

                    // verifyPayment(response, order) 

                },
                "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
                    "name": "Sahishma", //your customer's name
                    "email": "Sahishma@example.com",
                    "contact": "9605808097" //Provide the customer's phone number for better conversion rates 
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "bg-secondary"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        }

        function verifyPayment(payment, order) {
            $.ajax({
                url: '/verify-payment',
                data: {
                    payment,
                    order,
                },
                method: 'post'
            })
        }


        function applyCoupon() {
            event.preventDefault();
            let couponCode = document.getElementById("couponCodeInput").value;
            $.ajax({
                url: "/apply-coupon",
                method: "post",
                data: { couponCode: couponCode },
                success: (response) => {
                    console.log("response  ==>", response)
                    let messageDiv = document.getElementById("coupen_msg_div");
                    messageDiv.innerHTML = response.message;
                    console.log("status",response.status);
                    if (response.status == "success") {
                        messageDiv.style.color = "green"; // Set green color for success message
                    } else {
                        messageDiv.style.color = "red"; // Set red color for error message
                    }

                    $("#coupon_discount_input").val(response.couponDiscount);
                    $("#amount_payable_input").val(response.amountPayable);

                    $("#coupon_discount").html(response.couponDiscount);
                    $("#amount_payable").html(response.amountPayable);

                },
                error: () => {
                    let messageDiv = document.getElementById("coupen_msg_div");
                    messageDiv.innerHTML = "An error occurred. Please try again.";
                    messageDiv.style.color = "red"; // Set red color for error message
                }
            });
        }

        $(document).ready(function () {
            // Listen for change event on the select element
            $('#address_select').change(function () {
                // Get the selected value
                var selectedValue = $(this).val();
                console.log('selectedValue', selectedValue);

                // Make the AJAX call
                $.ajax({
                    url: '/address/get_json/' + selectedValue, // Replace with the actual API endpoint
                    type: 'GET',
                    // Pass the selected value as a parameter
                    success: function (response) {
                        // Handle the successful response
                        console.log('response', response);
                        $('#firstName').val(response.addressDetail.address[0])
                        $('#mobileNumber').val(response.addressDetail.phone)
                        $('#address').val(response.addressDetail.address[1])
                        $('#city').val(response.addressDetail.address[2])
                        $('#state').val(response.addressDetail.address[3])
                        $('#pinCode').val(response.addressDetail.address[4])
                        // Update the UI with the retrieved details
                    },
                    error: function (xhr, status, error) {
                        // Handle the error
                        console.error(error);
                    }
                });
            });
        });


        // Get the button element by its id
        const myButton = document.getElementById('myButton');

        // Add an event listener to the button
        myButton.addEventListener('click', () => {
            // Display the SweetAlert
            Swal.fire('Button Clicked!', 'You clicked the button!', 'success');
        });
    </script>