{{!-- <h3>product listing in user side</h3>


<ul>
    {{#each productsInDb}}
    <li>{{this.product_name}}</li>
    {{/each}}
</ul> --}}

{{!-- <main>
    <div class="container">
        <h3>Product Listing</h3>
        <ul class="list-group">
            {{#each productsInDb}}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3">
                        <img src="/img/{{this._id}}.jpg" alt="{{this.product_name}}" class="img-thumbnail">
                    </div>
                    <div class="col-md-9">
                        <h5 class="mb-1">{{this.product_name}}</h5>
                        <p class="mb-1">Category: {{this.category_name}}</p>
                        <p class="mb-1">Price: ${{this.price}}</p>
                        <p class="mb-1">Stock: {{this.stock}}</p>
                        <p class="mb-1">Status: {{this.status}}</p>
                        <p>{{this.description}}</p>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</main> --}}
<div class="container-fluid pt-5">
    <div class="row px-xl-10 pb-3">
        {{#each productsInDb}}
        <div class="col-lg-3 col-md-4 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img src="/img/{{this._id}}.jpg" alt="{{this.product_name}}" class="img-thumbnail">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h5 class="mb-1">{{this.product_name}}</h5>
                    <p class="mb-1">Category: {{this.category_name}}</p>
                    <p class="mb-1">Price: ${{this.price}}</p>
                    <p class="mb-1">Stock: {{this.stock}}</p>
                    <p class="mb-1">Status: {{this.status}}</p>
                    <p>{{this.description}}</p>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-heart text-primary mr-1"></i>Wishlist</a>
                    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>