<div class="container-fluid px-4">
                    <h2>Orders</h2>
                    <hr>

    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <div class="table-responsive">
                    <table class="table" id="ordersTable">
                        <thead>
                            <tr>
                                <th scope="col">Order ID</th>
                                <th scope="col">Date</th>
                                <th scope="col">Total Amount</th>
                                <th scope="col">Payment Method</th>
                                <th>Order Status</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            {{#each orders}}
                            <tr>
                                <th scope="row">{{this.orderId}}</th>
                                <td>{{this.date}}</td>
                                <td>{{this.totalAmount}}</td>
                                <td>{{this.payment}}</td>
                                <td>{{this.status}}</td>
                                <td>
                                    <a href="/view-order-products/{{this.orderId}}" class="btn btn-primary m-2">View Details</button></a>
                                </td>
                            </tr>

                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    console.log("calling datztable");
$(document).ready(function () {
  console.log("entered in to function");
    $("#ordersTable").DataTable();
  });
</script>