{{!-- BOF breadcrumb --}}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-4">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item"><a href="/admin/products">Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Product</li>
    </ol>
</nav>
<hr>

{{!-- BOF breadcrumb --}}

<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Edit Product</h6>
                <form action="/admin/products/edit-products/{{products._id}}" method="post" id="editProducts_form" >

                    <div class="row mb-3">
                        <label for="category_id" class="col-sm-2 col-form-label">Category</label>
                        <div class="col-sm-10">
                            <select class="form-select mb-3" id="category_id" name="category_id" aria-label="Default select example">
                                {{#each categories}}
                                <option value="{{this._id}}" {{#isEqual this._id ../products.category_id}}selected{{/isEqual}}>
                                    {{this.category_name}}
                                </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="product_name" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="product_name" name="product_name" required value="{{products.product_name}}">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="slug" class="col-sm-2 col-form-label">slug</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="slug" name="slug" required value="{{products.slug}}">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="mrp" class="col-sm-2 col-form-label">MRP</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="mrp" name="mrp" required value="{{products.mrp}}"  oninput="validateField(this)" data-field-name="MRP" data-max-value="100000">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="price" class="col-sm-2 col-form-label">Price</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="price" name="price" required value="{{products.price}}" oninput="validateField(this)" data-field-name="Price" data-max-value="100000">
                        </div>
                    </div>



                    <div class="row mb-3">
                        <label for="stock" class="col-sm-2 col-form-label">Stock</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="stock" name="stock" value="{{products.stock}}" required oninput="validateField(this)" data-field-name="Stock" data-max-value="200" step="1">
                        </div>
                    </div>

                    {{!-- <div class="row mb-3">
                        <label for="status" class="col-sm-2 col-form-label">Status</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="status" name="status" value="{{products.status}}">
                        </div>
                    </div> --}}

                    {{!-- <div class="row mb-3">
                        <label for="status" class="col-sm-2 col-form-label">Status</label>
                        <div class="col-sm-10">
                            <select class="form-select mb-3" id="status" name="status" required aria-label="Default select example">
                                <option value="In Stock" {{#isEqual 'In Stock' products.status}}selected{{/isEqual}}>In Stock</option>
                                <option value="Out Of Stock" {{#isEqual 'Out Of Stock' products.status}}selected{{/isEqual}}>Out Of Stock</option>
                            </select>
                        </div>
                    </div> --}}

                    <div class="row mb-3">
                        <label for="description" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            {{!-- <input type="text" class="form-control" id="description" name="discription" required /> --}}
                            <textarea class="form-control" name="description" required id="description" rows="5">{{products.description}}</textarea>
                        </div>
                    </div>


                    <div class="row mb-3">
                        <label for="image" class="col-sm-2 col-form-label">Image</label>
                        <img src="/img/{{products._id}}.jpg" alt="" style="width:100px;height:auto" id="imgView" class="pb-3">
                        <div class="col-sm-10">
                            <input type="file" class="form-control" id="image" name="image" onchange="viewImage(event)">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary m-2">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Form End -->

<script>
    function viewImage(event) {
        document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
    }


    function validateSlug() {
        var slugInput = document.getElementById('slug');
        var slug = slugInput.value.trim();

        // Regular expression to validate the slug (allowing lowercase letters, numbers, hyphens, and underscores)
        var slugPattern = /^[a-z0-9-_]+$/;

        if (!slugPattern.test(slug)) {
            // Display an error message
            slugInput.setCustomValidity('Invalid slug. Only lowercase letters, numbers, hyphens, underscores are allowed.');
        } else {
            // Clear the error message
            slugInput.setCustomValidity('');
        }
    }
        function validateField(input) {
        var fieldValue = input.value.trim();
        var fieldName = input.getAttribute('data-field-name');
        var maxValue  = parseInt(input.getAttribute('data-max-value'));
        // Check if the input is a negative number
        if (parseInt(fieldValue) < 0) {
            input.setCustomValidity('Invalid ' + fieldName + '. Negative numbers are not allowed.');
        }
        // Check if the input starts with 0
        else if (fieldValue.startsWith('0')) {
            input.setCustomValidity('Invalid ' + fieldName + '. The value cannot start with 0.');
        }
        
        // Check if the input is greater than the maximum value
        else if (parseInt(fieldValue) > maxValue) {
            input.setCustomValidity('Invalid ' + fieldName + '. The value should not exceed ' + maxValue + '.');
        }
        // Check if the input is a decimal number (float) for the Stock field
        else if (fieldName === 'Stock' && fieldValue.includes('.')) {
            input.setCustomValidity('Invalid ' + fieldName + '. Only integer values are allowed for Stock.');
        } else {
            input.setCustomValidity('');
        }
    }
</script>