<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Edit Product</h6>
                <form action="/admin/products/edit-products/{{products._id}}" method="post" id="editProducts_form" enctype="multipart/form-data">

                    <div class="row mb-3">
                        <label for="category_id" class="col-sm-2 col-form-label">Category</label>
                        <div class="col-sm-10">
                            <select class="form-select mb-3" id="category_id" name="category_id" aria-label="Default select example">
                                {{#each categories}}
                                <option value="{{this._id}}" {{#isEqual this._id ../products.category_id}}selected{{/isEqual}}>
                                    {{this.category_name}}
                                </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="product_name" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="product_name" name="product_name" required value="{{products.product_name}}">
                        </div>
                    </div>

                     <div class="row mb-3">
                        <label for="mrp" class="col-sm-2 col-form-label">MRP</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="mrp" name="mrp" required value="{{products.mrp}}">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="price" class="col-sm-2 col-form-label">Price</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="price" name="price" required value="{{products.price}}">
                        </div>
                    </div>



                    <div class="row mb-3">
                        <label for="stock" class="col-sm-2 col-form-label">Stock</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="stock" name="stock" value="{{products.stock}}" required>
                        </div>
                    </div>

                    {{!-- <div class="row mb-3">
                        <label for="status" class="col-sm-2 col-form-label">Status</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="status" name="status" value="{{products.status}}">
                        </div>
                    </div> --}}

                    <div class="row mb-3">
                        <label for="status" class="col-sm-2 col-form-label">Status</label>
                        <div class="col-sm-10">
                            <select class="form-select mb-3" id="status" name="status" required aria-label="Default select example">
                                <option value="In Stock" {{#isEqual 'In Stock' products.status}}selected{{/isEqual}}>In Stock</option>
                                <option value="Out Of Stock" {{#isEqual 'Out Of Stock' products.status}}selected{{/isEqual}}>Out Of Stock</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="description" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            {{!-- <input type="text" class="form-control" id="description" name="discription" required/> --}}
                            <textarea class="form-control" name="description" id="description"  rows="5" >{{products.description}}</textarea>
                        </div>
                    </div>


                    <div class="row mb-3">
                        <label for="image" class="col-sm-2 col-form-label">Image</label>
                        <img src="/img/{{products._id}}.jpg" alt="" style="width:100px;height:auto" id="imgView" class="pb-3">
                        <div class="col-sm-10">
                            <input type="file" class="form-control" id="image" name="image" onchange="viewImage(event)"  >
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary m-2">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Form End -->

<script>
   function viewImage(event){
    document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
   } 
</script>