{{!-- BOF breadcrumb --}}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-4">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Products</li>
    </ol>
</nav>
<hr>

{{!-- BOF breadcrumb --}}




<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Products</h6>
                    <a href="/admin/products/add-products">
                        <button type="button" class="btn btn-primary m-2">Add New</button>
                    </a>
                </div>
                <div class="table-responsive">
                    <table class="table" id="productsTable">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Slug</th>
                                <th scope="col">Category</th>
                                <th scope="col">MRP</th>
                                <th scope="col">Price</th>
                                <th scope="col">Stock</th>
                                <th scope="col">Status</th>
                                <th>Image</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each products}}
                            <tr>
                                <th scope="row">{{@index}}</th>
                                <td>{{this.product_name}}</td>
                                <td>{{this.slug}}</td>
                                <td>{{this.category_name}}</td>
                                <td>{{this.mrp}}</td>
                                <td>{{this.price}}</td>
                                <td>{{this.stock}}</td>
                                <td>
                                    {{#isGreaterThan this.stock 0}}
                                    <p style="color: green;">In Stock</p>
                                    {{else}}
                                    <p style="color: red;">Out of Stock</p>
                                    {{/isGreaterThan}}
                                </td>
                                <td><img style="width: 50px;height:50px" src="/img/{{this._id}}.jpg" alt=""></td>
                                <td>
                                    <a href="/admin/products/edit-products/{{this._id}}" class="btn btn-primary m-2">Edit</a>
                                    <a href="/admin/products/delete-products/{{this._id}}" class="btn btn-danger m-2"
                                        onclick="console.log('{{this.product_name}}'); return confirm('You\'re deleting {{product_name}} permanently, are you sure?')">Delete</a>
                                 
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function validateSlug() {
        var slugInput = document.getElementById('slug');
        var slug = slugInput.value.trim();

        // Regular expression to validate the slug (allowing lowercase letters, numbers, hyphens, and underscores)
        var slugPattern = /^[a-z0-9-_]+$/;

        if (!slugPattern.test(slug)) {
            // Display an error message
            slugInput.setCustomValidity('Invalid slug. Only lowercase letters, numbers, hyphens, underscores are allowed.');
        } else {
            // Clear the error message
            slugInput.setCustomValidity('');
        }
    }
</script>